<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="app.css">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">

    <meta content="">

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">connectIn</a>
        </div>
        <div ng-controller="LoginCtrl" class="navbar-collapse collapse" id="navbar-main">
            <form ng-submit="login(credentials)" class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input ng-model="credentials.username" type="text" class="form-control" name="username" placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input ng-model="credentials.password" type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-success">Acceder</button>
                <br>
            </form>
        </div>
        <!-- /.container -->
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center front-banner">ConnectIn</div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h3 class="dark-grey">Terms and Conditions</h3>

            <p>
                By clicking on "Register" you agree to The Company's' Terms and Conditions
            </p>

            <p>
                While rare, prices are subject to change based on exchange rate fluctuations -
                should such a fluctuation happen, we may request an additional payment. You have the option to request a
                full refund or to pay the new price. (Paragraph 13.5.8)
            </p>

            <p>
                Should there be an error in the description or pricing of a product, we will provide you with a full
                refund (Paragraph 13.5.6)
            </p>

            <p>
                Acceptance of an order by us is dependent on our suppliers ability to provide the product. (Paragraph
                13.5.6)
            </p>
        </div>

        <div ng-controller="SignupCtrl" class="col-md-6">
            <h3 class="dark-grey">Regístrate!</h3>
            <form ng-submit="signup(credentials)">
                <div class="form-group col-lg-12">
                    <label>Dirección de correo</label>
                    <input type="email" ng-model="credentials.username" class="form-control" required>
                </div>

                <div class="form-group col-lg-6">
                    <label>Contraseña</label>
                    <input type="password" ng-model="credentials.password" class="form-control" required>
                </div>

                <div class="form-group col-lg-6">
                    <label>Repetir contraseña</label>
                    <input type="password" ng-model="credentials." class="form-control" value="">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </div>

</div>
</body>
</html>